<div class="card">
  <div class="row ">
    <div class="col-sm ">
      <div class="small">
        <img src="{{ imageURL }}" alt="" />
      </div>
    </div>

    <div class="col-sm">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>
      <p>Состав: {{ingridients.join(', ')}}</p>
      <p>Вес:{{ weight | weight }}</p>
      <p>Цена: {{ cost }} р.</p>
      <app-counter
        [pizzaId]="id"
        (pizzaCountChangeEvent)="pizzaCountChange($event)"
      ></app-counter>
    </div>
  </div>
</div>
