<app-search (searchStringChangeEvent)="searchStringChange($event)" ></app-search>
<app-pizza-type-selector (selectionChangeEvent)="pizzaTypeSelectionchanged($event)"></app-pizza-type-selector>
<div class="container" *ngFor="let pizza of pizzas | async">
    <app-card
    [id]="pizza.id"
    [title]="pizza.title"
    [imageURL]="pizza.imageURL"
    [description]="pizza.description"
    [weight]="pizza.weight"
    [ingridients]="pizza.ingridients"
    [cost]="pizza.cost"></app-card>
</div>
<app-cart-wrapper [cart]="cart"></app-cart-wrapper>
